<div ng-show="error" class="alert alert-warning">
    <h4>Error</h4>
    <em>{{error.message}}</em>
</div>

<div class="row">
	<div class="col-md-12">
        <p class="updated">Information updated {{clan.updated_at | fromNow}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Information</h2>

        <div class="table-responsive">
        <table class="table">
            <tr>
                <td>Clan ID</td>
                <td>{{clan.clan_id}}&nbsp;&nbsp;<a data-placement="top" href="http://eu.wargaming.net/clans/{{clan.clan_id}}/" target="_blank" title="See WoT clan page"><i class="fa fa-external-link"></i></a></td>
            </tr>
            <tr>
                <td>Created at</td>
                <td>{{clan.created_at | fromNow}}</td>
            </tr>
            <tr>
                <td>Available</td>                
                <td>
                    <span ng-hide="clan.request_availability">
                        Terms of Recruitment not available, clan applications not accepted</span>
                    <span ng-show="clan.request_availability">
                        Clan applications accepted</span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><div ng-bind-html-unsafe="">{{clan.description}}</div></td>
            </tr>
        </table></div>
    </div>
    <div class="col-md-8">
        <h2>Military Personnel <small>({{clan.members_count}})</small></h2>
        
        <div class="table-responsive">
        <table class="table table-clan-members">
            <thead>
                <tr>
                    <th class="pointer" ng-click="predicate='account_id'; reverse=!reverse">ID <i class="fa" ng-class="{'fa-angle-up': predicate==='account_id' && !reverse, 'fa-angle-down': predicate==='account_id' && reverse}"></i></th>
                    <th></th>
                    <th class="pointer" ng-click="predicate='account_name'; reverse=!reverse">Player <i class="fa" ng-class="{'fa-angle-up': predicate==='account_name' && !reverse, 'fa-angle-down': predicate==='account_name' && reverse}"></i></th>
                    <th class="pointer" ng-click="predicate='role_i18n'; reverse=!reverse">Position <i class="fa" ng-class="{'fa-angle-up': predicate==='role_i18n' && !reverse, 'fa-angle-down': predicate==='role_i18n' && reverse}"></i></th>
                    <th class="pointer" ng-click="predicate='created_at'; reverse=!reverse">Since <i class="fa" ng-class="{'fa-angle-up': predicate==='created_at' && !reverse, 'fa-angle-down': predicate==='created_at' && reverse}"></i></th>
                    <th class="pointer" ng-click="predicate='logout_at'; reverse=!reverse">Last login <i class="fa" ng-class="{'fa-angle-up': predicate==='logout_at' && !reverse, 'fa-angle-down': predicate==='logout_at' && reverse}"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{warning: clan.owner_id == member.account_id}" 
                    ng-repeat="member in clan.members | object2Array | orderBy:predicate:reverse">
                    <td>
                        {{member.account_id}}
                    </td>
                    <td class="f16">
                        <i class="flag {{member.client_language}}"></i> {{member.client_language}}
                    </td>
                    <td>
                        <span ng-show="clan.owner_id == member.account_id"><i class="fa fa-star" title="Clan Owner"></i>&nbsp;</span>
                        <a href="#/player/{{member.account_name}}/{{member.account_id}}">{{member.account_name}}</a> <span ng-show="clan.owner_id == member.account_id">(owner)</span></td>
                    <td>
                        <span class="epaulettes">
                        <!--[if IE 8]><object ng-src="http://eu.wargaming.net/clans/static/0.1.0/images/epaulettes/{{member.role_i18n | lowerAndNoSpaces}}.svg" classid="image/svg+xml"></object><![endif]-->
                        <!--[if gte IE 9]><!--><img class="svg-icon" ng-src="http://eu.wargaming.net/clans/static/0.1.0/images/epaulettes/{{member.role_i18n | lowerAndNoSpaces}}.svg" alt=""><!--<![endif]-->
                        </span> {{member.role_i18n}}
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="top" title="{{member.created_at | fromNowDisplay}}">{{member.created_at | fromNow}}</span>
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="top" title="{{member.logout_at | fromNowDisplayWithTime}}">{{member.logout_at | fromNow}}</span>
                    </td>
                </tr>
            </tbody>
        </table></div>
	</div>
</div>