<p>&nbsp;</p>

<!-- Startup page -->
<div class="row">
    <div class="col-md-12">
    	<!-- Here we could show a nice welcome to our website -->
    </div>
</div>

<div class="row">
<div class="col-md-6">
  <h2>Searching for Players &amp; Clans</h2>
  <p>Wargaming API give us the possibility to search for any player and clan in it's own database, for such, this is just a simple application with search capabilities where one can search for players and clans in the European Server.</p>

  <p>
  	<a class="btn btn-default" href="#/players/balexa" role="button">Player example »</a>  
  	<a class="btn btn-default" href="#/clans/8b" role="button">Clan example »</a>
  </p>
</div>
</div>